{% extends 'geodetic_work/base.html' %}
{% load static %}
{% block js %}
    <script src="{% static 'geodetic_work/js/geodetic_work_home.js' %}"></script>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h3>Praca o identyfikatorze: {{work.id_work}}</h3>
    <h4>Obiekt: {{work.work_object}}</h4>
    <table>
        <tr><th>ID pracy</th><th>status</th><th>woj.</th><th>powiat</th>
        <th>jednostka ew.</th><th>obręb</th><th>obiekt</th><th>działki</th><th>cel</th>
        <th>data aktual.</th><th>data operatu</th><th>data mat.</th><th>obszar[ha]</th>
        <th>zmiany BDOT500</th><th>zmiany GESUT</th><th>zmiany EGiB</th>
        </tr>
            <tr>
                <td>{{ work.id_work }}</td>
                <td>{{ work.get_status_display }}</td>
                <td>{{work.voivodeship}}</td>
                <td>{{work.county}}</td>
                <td>{{work.commune}}</td>
                <td>{{work.precincts}}</td>
                <td>{{work.work_object}}</td>
                <td>{{work.plots}}</td>
                <td>{{ work.get_work_scope_display }}</td>
                <td>{{work.survey_date}}</td>
                <td>{{work.documentation_date}}</td>
                <td>{{work.begin_date}}</td>
                <td>{{work.change_bdot_database}}</td>
                <td>{{work.change_gesut_database}}</td>
                <td>{{work.change_egib_database}}</td>
                <td>
                    <form>
                        <button type="submit" formaction="{% url 'geodetic-work-edit' work.id %}">Edytuj</button>
                    </form>
                </td>
                <td><button id="delete-work-{{ work.id }}" onClick="deleteWork(this.id)">Usuń</button></td>
            </tr>
        </table>
        <BR>
        <h4>Dokumenty do operatu:</h4>
        <h5><a href="{% url 'geo-doc-pdf-generator' work.id %}">GENERUJ ZBIORCZY PLIK PDF</a></h5>
        <table>
                <tr><th>l. p.</th><th>zawartość</th><th>status</th><th>Edycja</th><th>PDF</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Spis Treści</td>
                    <td><a href="{% url 'table-of-content-preview' work.id %}">Podgląd</a></td>
                    <td><a href="{% url 'table-of-content-generate' work.id %}">Generuj</a></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Sprawozdanie techniczne</td>
                    {% if work.technicaldescription.id %}
                    <td>
                     <a href="{% url 'technical-discription-preview' work.id %}">Podgląd</a>
                    </td>
                    <td><a href="{% url 'technical-description-edit' work.technicaldescription.id %}">Edytuj</a>
                    </td>
                    <td> <a href="{% url 'technical-discription-generate' work.id %}">Generuj PDF</a></td>
                        {% else %}
                        <td>Nie utworzono</td>
                        <td><a href="{% url 'technical-description-create' work.id %}">Dodaj</a></td>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td>3.</td>
                    <td>Mapa porównania z terenem</td>
                    {% if work.comaparisionmap.id %}
                    <td>
                        <a href="{% url 'comparision-map-edit' work.comaparisionmap.id %}">Podgląd</a>
                    </td>
                    <td>
                        <a href="{% url 'comparision-map-edit' work.comaparisionmap.id %}">Edytuj</a>
                    </td>

                    {% else %}
                    <td>Nie utworzono</td>
                    <td>
                        <a href="{% url 'comparision-map-create' work.id %}">Dodaj</a>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Dane obserwacyjne osnowy pomiarowej</td>
                    {% if work.geodeticnetworksurveydata.id %}
                    <td>
                        <a href="{% url 'network-survey-preview' work.id %}">Podgląd</a>
                    </td>
                    <td>
                        <a href="{% url 'network-survey-edit' work.geodeticnetworksurveydata.id %}">Edytuj</a>
                    </td>
                    <td> <a href="{% url 'network-survey-generate' work.id %}">Generuj PDF</a></td>
                    {% else %}
                    <td>Nie utworzono</td>
                    <td>
                        <a href="{% url 'network-survey-create' work.id %}">Dodaj</a>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Szkic osnowy pomiarowej</td>
                         {% if work.geodeticnetworkdraft.id %}
                        <td>
                            <a href="{% url 'network-draft-edit' work.geodeticnetworkdraft.id %}">Podgląd</a>
                        </td>
                        <td>
                            <a href="{% url 'network-draft-edit' work.geodeticnetworkdraft.id %}">Edytuj</a>
                        </td>
                        {% else %}
                        <td>Nie utworzono</td>
                        <td>
                            <a href="{% url 'network-draft-create' work.id %}">Dodaj</a>
                        </td>
                        {% endif %}
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Wykaz współrzędnych osnowy pomiarowej</td>
                        {% if work.geodeticnetworkcoordinates.id %}
                        <td>
                            <a href="{% url 'network-coordinates-preview' work.id %}">Podgląd</a>
                        </td>
                        <td>
                            <a href="{% url 'network-coordinates-edit' work.geodeticnetworkcoordinates.id %}">Edytuj</a>
                        </td>
                        <td> <a href="{% url 'network-coordinates-generate' work.id %}">Generuj PDF</a></td>
                        {% else %}
                        <td>Nie utworzono</td>
                        <td>
                            <a href="{% url 'network-coordinates-create' work.id %}">Dodaj</a>
                        </td>
                        {% endif %}
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Szkice polowe</td>
                        {% if work.fielddraft.id %}
                        <td>
                            <a href="{% url 'field-draft-edit' work.fielddraft.id %}">Podgląd</a>
                        </td>
                        <td>
                            <a href="{% url 'field-draft-edit' work.fielddraft.id %}">Edytuj</a>
                        </td>
                        {% else %}
                        <td>Nie utworzono</td>
                        <td>
                            <a href="{% url 'field-draft-create' work.id %}">Dodaj</a>
                        </td>
                        {% endif %}
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Wykaz współrzędnych punktów pomierzonych</td>
                        {% if work.listofcoordinates.id %}
                        <td>
                            <a href="{% url 'list-coordinates-preview' work.id %}">Podgląd</a>
                        </td>
                        <td>
                            <a href="{% url 'list-coordinates-edit' work.listofcoordinates.id %}">Edytuj</a>
                        </td>
                        <td> <a href="{% url 'list-coordinates-generate' work.id %}">Generuj PDF</a></td>
                        {% else %}
                        <td>Nie utworzono</td>
                        <td>
                            <a href="{% url 'list-coordinates-create' work.id %}">Dodaj</a>
                        </td>
                        {% endif %}
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Wykaz zmian danych ewidenycyjnych dot. budynków</td>
                        {% if work.changelistbuilding.id %}
                        <td>
                            <a href="{% url 'change-buildings-edit' work.changelistbuilding.id %}">Podgląd</a>
                        </td>
                        <td>
                            <a href="{% url 'change-buildings-edit' work.changelistbuilding.id %}">Edytuj</a>
                        </td>
                        {% else %}
                        <td>Nie utworzono</td>
                        <td>
                            <a href="{% url 'change-buildings-create' work.id %}">Dodaj</a>
                        </td>
                        {% endif %}
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Wykaz zmian danych ewidenycyjnych dot. działek</td>
                        {% if work.changelistplot.id %}
                        <td>
                            <a href="{% url 'change-plots-edit' work.changelistplot.id %}">Podgląd</a>
                        </td>
                        <td>
                            <a href="{% url 'change-plots-edit' work.changelistplot.id %}">Edytuj</a>
                        </td>
                        {% else %}
                        <td>Nie utworzono</td>
                        <td>
                            <a href="{% url 'change-plots-create' work.id %}">Dodaj</a>
                        </td>
                        {% endif %}
                </tr>
        </table>


{% else %}
<div class="content-section">
    <h2>Nie jesteś zalogowany</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a  href="{% url 'login' %}">Zaloguj się</a>
        </small>
    </div>
</div>
{% endif %}
{% endblock %}
